body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    color: #000000;
}

.my-div {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.height-slider{
    position: relative;
}

.width-slider{
    position: relative;
    width: 1280px;
    bottom: 0;
    left: 0;
    transform: translate(0, -50%);
}

.my-button {
    background-color: #56AE46;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.my-button:hover {
    background-color: #2574B6;
}

.my-input, .my-dropdown, .my-label {
    margin-bottom: 10px;
}

.modal-header, .modal-footer {
    background-color: #C6E8F1;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.modal-body {
    padding: 15px;
    background-color: #FFFFFF;
}

.dcc.Tabs .tab {
    background: #C6E8F1;
    color: #8E8E8E;
    border: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.dcc.Tabs .tab:hover {
    background: #56AE46;
    color: #FFFFFF;
}

.dcc.Tabs .tab-selected {
    background: #56AE46;
    color: #FFFFFF;
}

.color-picker {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #8E8E8E;
    margin: 5px;
}

.color-position {
    display: inline-block;
    margin: 5px;
}



.ESPAM-graph {
    width: 100%;
    height: 100%;
}
.height-slider-label{
    position: relative;
    top: 50%;
    left: -10px;
    width: auto;
    transform: rotate(-90deg);
    transform-origin: left top;
}

.width-slider-label{
    position: relative;
    bottom:  -50px;
    left: 50%;
}